<h3 ng-controller="noticeClassController">
    <a class="course" ui-sref="app.noticeMngt" ng-click="showCourse(0)">全部文章</a>
    <a class="course" ng-class="{true:'coureColor', false: ''}[x.sname == activeSname]" ui-sref="app.noticeMngt" ng-repeat="x in courseClass" ng-bind="x.sname" name={{x.sortid}} ng-click="showCourse(x.sortid, x.sname, $index)"></a>
</h3>
<div class="clearfix" ng-controller="addNoticeController">
    <div class="ball-spin-fade-loader list-loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <h4 class="page-header courseTitle">
        <span class="class-name">{{sname == 'undefined' || sname == undefined ? '全部文章' : sname}}</span>  >  添加自定义文章
    </h4>
    <div class="addCourse-div">
        <tabset>
            <tab heading="自定义文章">
                <form role="form" ng-submit="addSubmit()" novalidate="" class="form-validate" enctype="multipart/form-data"> 
                    <div class="row plate">
                        <div class="clearfix row-div">
                            <div class="col-xs-2 customTitle">文章名称</div>
                            <div class="col-xs-3"><input type="text" class="form-control" ng-model="addCourse.courseName" required=""></div>
                            <div class="col-xs-7"></div>
                        </div>
                        <div class="clearfix row-div">
                            <div class="col-xs-2 customTitle">上传封面</div>
                            <div class="col-xs-3">
                                <span style="color:#F05050;">建议尺寸：400px*225px</span>
                                <input filestyle="" type="file" data-button-text="图片" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="uploader" class="form-control" required=""/>
                                <div class="coverPreview noticePre">
                                    图片预览
                                    <img ng-src="{{img}}">
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <!--<div ng-if="uploader.queue.length">
                                    <table ng-if="uploader.queue.length" class="table">
                                        <thead>
                                            <tr>
                                                <td>文件名</td>
                                                <td>大小</td>
                                                <td>进度</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in uploader.queue">
                                                <td>
                                                    <strong>{{ item.file.name }}</strong>
                                                </td>
                                                <td ng-show="uploader.isHTML5" nowrap="">{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                <td ng-show="uploader.isHTML5">
                                                    <div style="margin-bottom: 0;width: 100px;" class="progress progress-xs">
                                                        <div role="progressbar" ng-style="{ 'width': item.progress + '%' }" class="progress-bar"></div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <span ng-show="item.isSuccess">
                                                        <em class="fa fa-check fa-fw"></em>
                                                    </span>
                                                    <span ng-show="item.isCancel">
                                                        <em class="fa fa-ban-circle fa-fw"></em>
                                                    </span>
                                                    <span ng-show="item.isError">
                                                        <em class="fa fa-times fa-fw"></em>
                                                    </span>
                                                </td>
                                                <td nowrap="">
                                                    <button type="button" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" class="btn btn-info btn-xs">
                                                        <span class="icon-cloud-upload mr"></span>上传</button>
                                                    <button type="button" ng-click="item.cancel()" ng-disabled="!item.isUploading" class="btn btn-warning btn-xs">
                                                        <span class="icon-close mr"></span>取消</button>
                                                    <button type="button" ng-click="item.remove()" class="btn btn-danger btn-xs">
                                                        <span class="icon-trash mr"></span>删除</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>-->
                            </div>
                        </div>
                        <div class="clearfix row-div">
                            <div class="col-xs-2 customTitle">文章摘要</div>
                            <div class="col-xs-5"><input type="text" class="form-control" ng-model="addCourse.abstract" required=""></div>
                            <div class="col-xs-5"></div>
                        </div>
                        <div class="clearfix row-div">
                            <div class="col-xs-2 customTitle">所属分类</div>
                            <div class="col-xs-5">
                                <select class="bg-select" ng-change="addCourseSelectSort(selSort)" ng-model="selSort">
                                    <option value="">--- 请选择分类 ---</option>
                                    <option ng-repeat="c in courseClass" ng-bind="c.sname" value="{{c.sortid+','+c.sname}}"></option>
                                </select>
                            </div>
                            <div class="col-xs-5"></div>
                        </div>
                        <div class="clearfix row-div">
                            <div class="col-xs-2 customTitle">外部文章链接</div>
                            <div class="col-xs-3"><input type="url" class="form-control" ng-model="addCourse.url" required="" placeholder="http://"></div>
                            <div class="col-xs-7"></div>
                        </div>
                        <div class="clearfix row-div">
                            <div class="col-xs-2 customTitle">文章跳转</div>
                            <div class="col-xs-3">
                                <select class="bg-select" style="width:100%" ng-click="getCourseId(bannerTypeSet1)" ng-model="bannerTypeSet1">
                                    <option value="">请选择需要跳转的课程</option>
                                    <option ng-repeat="c in course" ng-bind="c.course_name" ng-value="c.courseid"></option>
                                </select>
                            </div>
                            <div class="col-xs-7"></div>
                        </div>
                        <div class="clearfix row-div">
                            <div class="col-xs-2 customTitle">文章内容</div>
                            <!--<div class="col-xs-10">
                                <button type="button" class="btn btn-labeled btn-default preview">预览
                                    <span class="btn-label btn-label-right"><i class="fa fa-arrow-right"></i>
                                    </span>
                                </button>
                            </div>-->
                            <div class="col-xs-10">
                                <div class="bg-edit">
                                    <iframe ng-src="{{'app/views/editor.html?'+randomDate}}" allowtransparency="true" name="iframepage" id="iframepage" style="background-color=transparent" frameborder="0" width="100%" onLoad="iFrameHeight()" scrolling="no"></iframe>                    
                                    <script type="text/javascript" language="javascript">
                                        function iFrameHeight() {
                                            
                                            var ifm= document.getElementById("iframepage");
                                            var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
                                            if(ifm != null && subWeb != null) {
                                                ifm.height = subWeb.body.scrollHeight;
                                            }
                                                
                                            // $('.preview').click(function() {
                                            //     var iframeVal = document.getElementById('iframepage').contentWindow.html;
                                            //     document.getElementsByClassName('phone-show')[0].innerHTML = iframeVal;
                                            // })        
                                        }
                                    </script> 
                                </div>
                            </div>
                        </div>
                        <!--<div class="clearfix row-div">
                            <div class="col-xs-8">
                                <div class="bg-edit">
                                    <iframe src="app/views/editor.html" allowtransparency="true" name="iframepage" id="iframepage" style="background-color=transparent" frameborder="0" width="100%" onLoad="iFrameHeight()" scrolling="no"></iframe>                    
                                    <script type="text/javascript" language="javascript">
                                        function iFrameHeight() {
                                            
                                            var ifm= document.getElementById("iframepage");
                                            var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
                                            if(ifm != null && subWeb != null) {
                                                ifm.height = subWeb.body.scrollHeight;
                                            }
                                                
                                            $('.preview').click(function() {
                                                var iframeVal = document.getElementById('iframepage').contentWindow.html;
                                                document.getElementsByClassName('phone-show')[0].innerHTML = iframeVal;
                                            })        
                                        }
                                    </script> 
                                </div>
                            </div>
                            <div class="col-xs-4 phone">
                                <div class="phone-show"></div>
                            </div>
                        </div>-->
                        <button type="submit" class="btn btn-warning saveCourse">保存</button>
                        <button type="button" class="btn btn-danger saveCourse" ui-sref="app.noticeMngt">取消</button>
                    </div>
                </form>
            </tab>
        </tabset>
    </div>
</div>