<h3>
    <a ui-sref="app.schoolSurvey">返回上一页</a>
</h3>
<div class="clearfix" ng-controller="addSchoolSurveyController">
    <div class="ball-spin-fade-loader list-loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <h4 class="page-header courseTitle">
        <span class="class-name">学校概况</span>  >  添加{{editPageTitle}}
    </h4>
    <div class="addCourse-div">
        <tabset>
            <tab heading="{{editPageTitle}}">
                <form role="form" ng-submit="addSubmit()" novalidate="" class="form-validate" enctype="multipart/form-data"> 
                    <div class="row plate">
                        <div class="clearfix row-div">
                            <div class="col-xs-2 customTitle">修改内容</div>
                            <!--<div class="col-xs-10">
                                <button type="button" class="btn btn-labeled btn-default preview">预览
                                    <span class="btn-label btn-label-right"><i class="fa fa-arrow-right"></i>
                                    </span>
                                </button>
                            </div>-->
                            <div class="col-xs-10">
                                <div class="">
                                    <iframe ng-src="{{'app/views/editor.html?'+randomDate}}" allowtransparency="true" name="iframepage" id="iframepage" style="background-color=transparent" frameborder="0" width="100%" onLoad="iFrameHeight()" scrolling="no"></iframe>                    
                                    <script type="text/javascript" language="javascript">
                                        function iFrameHeight() {
                                            
                                            var ifm= document.getElementById("iframepage");
                                            var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
                                            if(ifm != null && subWeb != null) {
                                                ifm.height = subWeb.body.scrollHeight;
                                            }
                                                
                                            // $('.preview').click(function() {
                                            //     var iframeVal = document.getElementById('iframepage').contentWindow.html;
                                            //     document.getElementsByClassName('phone-show')[0].innerHTML = iframeVal;
                                            // })        
                                        }
                                    </script> 
                                </div>
                            </div>
                        </div>
                        <!--<div class="clearfix row-div">
                            <div class="col-xs-8">
                                <div class="bg-edit">
                                    <iframe src="app/views/editor.html" allowtransparency="true" name="iframepage" id="iframepage" style="background-color=transparent" frameborder="0" width="100%" onLoad="iFrameHeight()" scrolling="no"></iframe>                    
                                    <script type="text/javascript" language="javascript">
                                        function iFrameHeight() {
                                            
                                            var ifm= document.getElementById("iframepage");
                                            var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
                                            if(ifm != null && subWeb != null) {
                                                ifm.height = subWeb.body.scrollHeight;
                                            }
                                                
                                            $('.preview').click(function() {
                                                var iframeVal = document.getElementById('iframepage').contentWindow.html;
                                                document.getElementsByClassName('phone-show')[0].innerHTML = iframeVal;
                                            })        
                                        }
                                    </script> 
                                </div>
                            </div>
                            <div class="col-xs-4 phone">
                                <div class="phone-show"></div>
                            </div>
                        </div>-->
                        <button type="submit" class="btn btn-warning saveCourse">保存</button>
                        <button type="button" class="btn btn-danger saveCourse" ui-sref="app.schoolSurvey">取消</button>
                    </div>
                </form>
            </tab>
        </tabset>
    </div>
</div>