<h3>
    <a class="course" ui-sref="app.atTheMngt"><i class="fa fa-arrow-left" style="margin-right:15px;"></i>返回上一页</a>
</h3>
<div class="clearfix" ng-controller="atTheDetailsController">
    <div class="ball-spin-fade-loader list-loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <h4 class="page-header courseTitle">
        {{addAtThe.areaName}}&nbsp;>&nbsp;{{atTheName}}
        <div class="operationCourse">
            <div class="btn-group mb-sm">
                <button type="button" class="btn dropdown-toggle btn-warning" ng-click="goEditAtThe(2)">修改校区</button>
            </div> 
        </div>
    </h4>
    <div class="courseDetails-div atTheDetails-div">
        <tabset>
            <tab heading="分校详情">
                <p class="cdd-title">
                    基本信息
                </p>
                <div class="row plate">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-2">
                        <p class="plate-title">分校名称：</p>
                        <p class="plate-title">联系电话：</p>
                        <p class="plate-title">区域：</p>
                        <p class="plate-title">地址：</p>
                        <p class="plate-title">门店介绍：</p>
                    </div>
                    <div class="col-xs-3">
                        <p class="plate-con" ng-bind="addAtThe.name"></p>
                        <p class="plate-con" ng-bind="addAtThe.tel"></p>
                        <p class="plate-con" ng-bind="addAtThe.areaName"></p>
                        <p class="plate-con" ng-bind="addAtThe.address"></p>
                        <p class="plate-con" ng-bind="addAtThe.summary"></p>
                    </div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-3">
                        <a href="#" class="changeImg">
                            <img ng-src="{{addAtThe.img}}">
                            <!--<p>更换图片</p>-->
                        </a>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
                <p class="cdd-title">
                    GPS地图
                </p>
                <div class="row plate">
                    <div class="col-xs-12">
                        <div class="couseDetailsDesc"></div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>
