<h3>商品订单</h3>
<h4 class="page-header courseTitle">
    以下展示所有商品订单
</h4>
<div class="panel panel-default" ng-controller="commodityOrderController">
    <div class="ball-spin-fade-loader list-loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="panel-footer">
      <div class="row">
         <div class="col-lg-8"></div>
         <div class="col-lg-4">
             <!--<div class="input-group" style="width: 200px;float:right;">
                <input type="text" placeholder="{{searchResult != undefined && searchResult != 'undefined' && searchResult ? searchResult : '全部'}}" class="input-sm form-control" ng-model="sOLValue"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-sm btn-default" ng-click="searchListData()">搜索</button>
                </span>
            </div>-->
            <!--<div class="input-group pull-right">
               <select class="input-sm form-control">
                  <option value="3">输出到表格</option>
               </select>
               <span class="input-group-btn">
                  <button class="btn btn-sm btn-default">执行</button>
               </span>
            </div>-->
         </div>
      </div>
   </div>
    <div class="table-responsive">
        <table id="table-ext-1" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="width:15%;">订单号</th>
                    <th style="width:20%;">所购商品</th>
                    <th style="width:10%;">购买人</th>
                    <th style="width:10%;">电话</th>
                    <th style="width:5%;">单价</th>
                    <th style="width:8%;">消费学习币</th>
                    <th style="width:15%;">下单时间</th>
                    <th style="width:7%;position:relative">
                        {{selectValue != 'undefined' && selectValue != undefined && selectValue ? selectValue : '所有'}}
                        <i class="fa fa-angle-down downListIco"></i>
                        <ul class="downList clearfix">
                            <li ng-click="downSValue('')">所有</li>
                            <li ng-click="downSValue(s.value, s.text)" name="{{s.value}}" ng-repeat="s in types" ng-bind="s.text"></li>
                        </ul>
                    </th>
                    <th style="width:10%;">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-class="ONullType" colspan="9">暂无数据</td>
                </tr>
                <tr ng-repeat="o in commodityOrderData">
                    <td ng-bind="o.orderid"></td>
                    <td>
                        <img ng-src="{{o.goods_img_thumb}}" alt="Image" class="img-responsive orderCourse-img" />
                        <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin:0;">
                            <span ng-bind="o.goods_name" title="{{o.goods_name}}"></span><br/>
                            <span ng-bind="o.attr_name+'*'+o.quantity" style="font-size:12px;color:#555;"></span>
                        </p>
                    </td>
                    <td ng-bind="o.tname"></td>
                    <td ng-bind="o.phone"></td>
                    <td ng-bind="o.attr_price"></td>
                    <td ng-bind='o.xxb'></td>
                    <td ng-bind="payTime(o)"></td>
                    <td><div class="label status" ng-class="orderStatusClass(o)" ng-bind="orderStatusText(o)"></div></td>
                    <td>
                        <p class="statusAction" ng-if="orderStatusText(o) == '装包中'">
                            <span>商品正在装包</span>
                        </p>
                        <p class="statusAction" ng-if="orderStatusText(o) == '已取消' || orderStatusText(o) == '已完成'">
                            <span class="noAction">不可操作</span>
                        </p>
                        <p class="statusAction" ng-if="orderStatusText(o) == '配送中'">
                            <a href="" ng-click="confirmReceipt(o.orderid)">确认收货</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="page-td" colspan="9">
                        <pagination class="pagination-sm" total-items="totalItems" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()" boundary-links="true"></pagination>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>