<h3 ng-controller="commodityClassController">
    <a class="course" ui-sref="app.commodityMngt" ng-click="showCourse(0)">全部商品</a>
    <a class="course" ng-class="{true:'coureColor', false: ''}[x.sname == activeSname]" ui-sref="app.commodityMngt" ng-repeat="x in commodityClass" ng-bind="x.sname" name={{x.sortid}} ng-click="showCourse(x.sortid, x.sname, $index)"></a>
    <input class="form-control ng-touched addCourseClassInput" type='text'>
    <button class="btn btn-default addCourseBtn" type="button" ng-click="addCourseClass()"><i class="fa fa-plus addCourseFa"></i>添加</button>
</h3>
<div class="clearfix" ng-controller="commodityDetailController">
    <div class="ball-spin-fade-loader list-loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <h4 class="page-header courseTitle">
        {{sname == 'undefined' || sname == undefined ? '全部商品' : sname}} > {{goods_name}}
        <div class="operationCourse">
            <div class="btn-group mb-sm">
                <button type="button" class="btn dropdown-toggle btn-warning" ng-click="goEditCourse(2)">修改商品</button>
            </div> 
        </div>
    </h4>
    <div class="courseDetails-div atTheDetails-div">
        <tabset>
            <tab heading="商品详情">
                <p class="cdd-title">
                    商品信息
                </p>
                <div class="row plate">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-2">
                        <p class="plate-title">商品名称：</p>
                        <p class="plate-title">简介：</p>
                    </div>
                    <div class="col-xs-3">
                        <p class="plate-con" ng-bind="goods_name"></p>
                        <p class="plate-con" ng-bind="goods_brief"></p>
                    </div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-3">
                        <a href="#" class="changeImg">
                            <img ng-src="{{goods_img}}">
                            <!--<p>更换图片</p>-->
                        </a>
                    </div>
                    <div class="col-xs-2"></div>
                </div>
                <p class="cdd-title">
                    商品属性
                </p>
                <div class="row plate">
                    <div class="comboList cTitle clearfix">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-4">
                            <p>属性名称</p>
                        </div>
                        <div class="col-xs-4">
                            <p>价格</p>
                        </div>
                        <div class="col-xs-2"></div>
                    </div>
                    <div class="comboList clearfix" ng-repeat="p in attribute">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-4">
                            <p ng-bind="p.attr_name"></p>
                        </div>
                        <div class="col-xs-4">
                            <p ng-bind="p.attr_price"></p>
                        </div>
                        <div class="col-xs-2"></div>
                    </div>
                </div>
                <p class="cdd-title">
                    商品介绍
                </p>
                <div class="row plate">
                    <div class="col-xs-12">
                        <div class="couseDetailsDesc" ng-bind-html="goods_desc"></div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>
