<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <style>
            * {
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>

        <textarea id="editor_id" name="content">
            
            <html>
                <head><meta charset="utf-8"><style>img {width:100% !important;}</style></head>
                <body>
                    <p style="text-align:center;">
                        <br />
                    </p>
                    <p style="text-align:center;">
                        <br />
                    </p>
                    <p style="text-align:center;">
                        <br />
                    </p>
                    <p style="text-align:center;">
                        <span style="font-size:14px;color:#999999;">暂未添加相关信息</span>
                    </p>
                </body>
            </html>
        </textarea>                        
    </body>
    
    <script charset="utf-8" src="../vendor/kindeditor/kindeditor-all-min.js"></script>
    <script charset="utf-8" src="../vendor/kindeditor/lang/zh-CN.js"></script>
    
    <script>
            KindEditor.ready(function(K) {

                var option = [
                    'justifyleft', 'justifycenter', 'justifyright', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
                    'italic', 'underline', '|', 'multiimage'
                    // , 'hr'
                ]
                
                
                window.editor = K.create('#editor_id', {
                    minWidth: 300,
                    minHeight: 480,
                    resizeType: 0,
                    items: option,
                    filterMode: false,
                    uploadJson: 'http://xiaoshutong.thinktorch.cn/frontend/web/index.php/gd/upload',
                    fileManagerJson : 'http://xiaoshutong.thinktorch.cn/frontend/web/index.php/gd/filemanager',
                    allowFileManager : true,
                    afterUpload : function(url) {
                        
                    },
                    afterChange: function() {
                        this.sync();
                        html = document.getElementById('editor_id').value; 
                    }
                    
                });
               
            });
            
            var ifrCon = window.parent.ifrCon;
            if(ifrCon != undefined) {
                document.getElementById('editor_id').value = ifrCon;
            }
            
    </script>

</html>