<h3 ng-controller="noticeClassController">
    <a class="course" href="#" ng-click="showCourse(0)">全部文章</a>
    <a class="course" ng-class="{true:'coureColor', false: ''}[x.sname == activeSname]" href="#" ng-repeat="x in courseClass" ng-bind="x.sname" name={{x.sortid}} ng-click="showCourse(x.sortid, x.sname, $index)"></a>
    <!--<input class="form-control ng-touched addCourseClassInput" type='text'>
    <button class="btn btn-default addCourseBtn" type="button" ng-click="addCourseClass()"><i class="fa fa-plus addCourseFa"></i>添加</button>-->
</h3>
<div class="clearfix" ng-controller="noticeMngtController">
    <div class="ball-spin-fade-loader list-loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <h4 class="page-header courseTitle">
        <span class="class-name">{{sname == 'undefined' || sname == undefined ? '全部文章' : sname}}</span>（{{showTotalItems}}）
        <!--<div dropdown="dropdown" class="btn-group rdClassNameBtn">
            <button aria-expanded="false" aria-haspopup="true" type="button" ng-disabled="disabled" dropdown-toggle="" class="btn dropdown-toggle btn-default changeCourseName">
                <i class="fa fa-pencil changeCourseFa"></i>
            </button>
            <ul role="menu" class="dropdown-menu">
                <li><a href="#" ng-click="rClassName()">重命名</a>
                </li>
                <li><a href="#" ng-click="dClassName()">删除</a>
                </li>
            </ul>
        </div>-->
        <!--<div class="operationCourse">
            <div dropdown="dropdown" class="btn-group mb-sm">
                <button aria-expanded="false" aria-haspopup="true" type="button" ng-disabled="disabled" dropdown-toggle="" class="btn dropdown-toggle btn-info">移动文章到
                    <span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu" ng-if="courseClass.length > 0">
                    <li ng-repeat="x in courseClass"><a href="#" ng-bind="x.sname" ng-click="goStartClass(x.sortid, x.sname)"></a></li>
                </ul>
            </div> 
        </div>-->
    </h4>
    <div class="row">
        <div class="col-xs-4 col-md-2 courseList">
            <a class="dashed" ng-click="addCourseType()">
                <img src="app/img/add.png">
                <p>添加自定义文章</p>
            </a>
        </div>
        <div class="col-xs-4 col-md-2 courseList" ng-repeat="c in course" ng-mouseleave="closeCourseAct($index)">
            <p class="courseAction" name="{{c.faq_id}}">
                <i class="fa fa-trash-o c-btn removeIco" ng-click="removeCourse($index)"></i>
                <!--<label class="checkbox-inline c-checkbox c-btn">
                    <input id="inlinecheckbox10" class="ccb-bg" type="checkbox" ng-checked="">
                    <span class="fa fa-check"></span>
                </label>-->
            </p>
            <a ui-sref="app.noticeDetails" ng-click="showCDetails(c.title,c.faq_id,c.sname)" ng-mouseover="showCourseAct($index)">
                <img ng-src="{{c.img}}">
                <div class="courseDesc">
                    <p ng-bind="c.title"></p>
                    <small ng-bind="c.summary" title="{{c.summary}}"></small>
                </div>
            </a>
        </div>
    </div>
    <pagination class="page-bg" total-items="totalItems" previous-text="上一页" next-text="下一页" max-size="maxSize" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</div>
