<h3>请选择支付方式</h3>
<div class="courseDetails-div usersCenterList schoolSurveyEdit" data-ng-controller="paymentController">
    <div class="row">
        <!-- Blog Content-->
        <div class="col-lg-12">
            <span class="shoppingCartTitle">选择收货地址</span>
            <div class="row">
                <!-- Posts column 1-->
                <div class="col-lg-12">
                    
                </div>
            </div>
            <span class="shoppingCartTitle">商品信息</span>
            <div class="row">
                <!-- Posts column 1-->
                <div class="col-lg-12">
                    
                </div>
            </div>
        </div>
	</div>
</div>