<h3>学校概况</h3>
<div class="courseDetails-div usersCenterList schoolSurveyEdit" data-ng-controller="schoolSurveyController">
    <div class="ball-spin-fade-loader list-loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="row">
        <!-- Blog Content-->
        <div class="col-lg-12">
            <div class="row">
                <!-- Posts column 1-->
                <div class="col-lg-4">
                    <div class="panel">
                        <a href="" ng-click="openEdit(1)"><!--1学校-->
                            <img src="app/img/bg1.jpg" class="img-responsive" />
                        </a>
                        <div class="panel-body">
                            <p class="clearfix">
                                <span class="pull-left">
                                    <small class="mr-sm">创建时间
                                    </small>
                                    <small class="mr-sm" ng-bind="createTime(schoolInfoData)"></small>
                                </span>
                                <span class="pull-right">
                                    <small>
                                    <strong ng-bind="schoolInfoData.hits"></strong>
                                    <span>点击量</span>
                                    </small>
                                </span>
                            </p>
                            <h4><a href="" ng-bind="schoolInfoData.title"></a>
                            </h4>
                            <p ng-bind-html="schoolInfoContent"></p>
                        </div>
                    </div>
                </div>
                <!-- Posts column 1-->
                <div class="col-lg-4">
                    <div class="panel">
                        <a href="" ng-click="openEdit(2)">
                            <img src="app/img/bg1.jpg" class="img-responsive" />
                        </a>
                        <div class="panel-body">
                            <p class="clearfix">
                                <span class="pull-left">
                                    <small class="mr-sm">创建时间
                                    </small>
                                    <small class="mr-sm" ng-bind="createTime(teacherInfoData)"></small>
                                </span>
                                <span class="pull-right">
                                    <small>
                                    <strong ng-bind="teacherInfoData.hits"></strong>
                                    <span>点击量</span>
                                    </small>
                                </span>
                            </p>
                            <h4> <a href="" ng-bind="teacherInfoData.title"></a>
                            </h4>
                            <p ng-bind-html="teacherInfoContent"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>