<h3>学校简介</h3>
<div class="courseDetails-div usersCenterList" data-ng-controller="schoolSurveyController">
    <div class="ball-spin-fade-loader list-loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <tabset>
        <tab heading="学校概况">
            <div class="panel panel-default">
                <form role="form" ng-submit="addSubmitSchoolInfo()" novalidate="" class="form-validate" enctype="multipart/form-data"> 
                    <div class="row plate">
                        <div class="clearfix row-div">
                            <div class="col-xs-12">
                                <div class="bg-edit">
                                    <iframe ng-src="{{'app/views/editor.html?'+randomDate}}" allowtransparency="true" name="iframepage" id="iframepage" style="background-color=transparent" frameborder="0" width="100%" onLoad="iFrameHeight()" scrolling="no"></iframe>                    
                                    <script type="text/javascript" language="javascript">
                                        function iFrameHeight() {
                                            
                                            var ifm= document.getElementById("iframepage");
                                            var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
                                            if(ifm != null && subWeb != null) {
                                                ifm.height = subWeb.body.scrollHeight;
                                            }
                                                
                                            // $('.preview').click(function() {
                                            //     var iframeVal = document.getElementById('iframepage').contentWindow.html;
                                            //     document.getElementsByClassName('phone-show')[0].innerHTML = iframeVal;
                                            // })        
                                        }
                                    </script> 
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning saveCourse">保存</button>
                        <button type="button" class="btn btn-danger saveCourse" ui-sref="app.courseMngt">取消</button>
                    </div>
                </form>
            </div>
        </tab>
        <tab heading="师资团队">
            <div class="panel panel-default">
                <form role="form" ng-submit="addSubmitTeacherInfo()" novalidate="" class="form-validate" enctype="multipart/form-data"> 
                    <div class="row plate">
                        <div class="clearfix row-div">
                            <div class="col-xs-12">
                                <div class="bg-edit">
                                    <iframe ng-src="{{'app/views/editor.html?'+randomDate}}" allowtransparency="true" name="iframepage" id="iframepage" style="background-color=transparent" frameborder="0" width="100%" onLoad="iFrameHeight()" scrolling="no"></iframe>                    
                                    <script type="text/javascript" language="javascript">
                                        function iFrameHeight() {
                                            
                                            var ifm= document.getElementById("iframepage");
                                            var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
                                            if(ifm != null && subWeb != null) {
                                                ifm.height = subWeb.body.scrollHeight;
                                            }
                                                
                                            // $('.preview').click(function() {
                                            //     var iframeVal = document.getElementById('iframepage').contentWindow.html;
                                            //     document.getElementsByClassName('phone-show')[0].innerHTML = iframeVal;
                                            // })        
                                        }
                                    </script> 
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning saveCourse">保存</button>
                        <button type="button" class="btn btn-danger saveCourse" ui-sref="app.courseMngt">取消</button>
                    </div>
                </form>
            </div>
        </tab>
    </tabset>    
</div>