<h3>学校概况</h3>
<div class="courseDetails-div usersCenterList schoolSurveyEdit" data-ng-controller="schoolSurveyController">
    <div class="ball-spin-fade-loader list-loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="row">
        <!-- Blog Content-->
        <div class="col-lg-12">
            <div class="row">
                <!-- Posts column 1-->
                <div class="col-lg-4">
                    <div class="panel">
                        <a href="" ng-click="openEdit(1)"><!--1学校-->
                            <img src="app/img/school.png" class="img-responsive" style="width:100px !important;height:100px;margin:20px auto 0 auto;"/>
                        </a>
                        <div class="panel-body">
                            <h4 style="text-align:center;" ng-bind="schoolInfoData.title"></h4>
                            <p ng-bind-html="schoolInfoContent" style="margin-top:20px;"></p>
                            <p class="clearfix" style="border-top:1px solid #eee;padding-top: 20px;color:#ccc;">
                                <span class="pull-left">
                                    <small class="mr-sm">创建时间
                                    </small>
                                    <small class="mr-sm" ng-bind="createTime(schoolInfoData)"></small>
                                </span>
                                <span class="pull-right">
                                    <small>
                                    <strong ng-bind="schoolInfoData.hits"></strong>
                                    <span>人浏览</span>
                                    </small>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Posts column 1-->
                <div class="col-lg-4">
                    <div class="panel">
                        <a href="" ng-click="openEdit(2)">
                            <img src="app/img/tea.png" class="img-responsive" style="width:100px !important;height:100px;margin:20px auto 0 auto;"/>
                        </a>
                        <div class="panel-body">
                            <h4 style="text-align:center;" ng-bind="teacherInfoData.title"></h4>
                            <p ng-bind-html="teacherInfoContent" style="margin-top:20px;"></p>
                            <p class="clearfix" style="border-top:1px solid #eee;padding-top: 20px;color:#ccc;">
                                <span class="pull-left">
                                    <small class="mr-sm">创建时间
                                    </small>
                                    <small class="mr-sm" ng-bind="createTime(teacherInfoData)"></small>
                                </span>
                                <span class="pull-right">
                                    <small>
                                    <strong ng-bind="teacherInfoData.hits"></strong>
                                    <span>人浏览</span>
                                    </small>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>