<h3>设置中心</h3>
<!-- START panel-->
<div class="panel panel-default">
   <div class="panel-heading">常规设置</div>
   <div class="panel-body">
      <form ng-controller="setUpCtrl" novalidate="" class="form-validate form-horizontal" >
         <!--<fieldset>
            <div class="form-group">
               <label class="col-sm-2 control-label" title="无操作分钟数后自动锁定屏幕，0不锁定">自动锁屏时间</label>
               <div class="col-sm-10">
                  <div class="row">
                     <div class="col-xs-6">
                        <slider ng-change="change()" ng-model="slider1" min="0" max="30" step="1" orientation="horizontal" class="bs-slider slider-horizontal"></slider>
                     </div>
                  </div>
               </div>
            </div>
         </fieldset>-->
         <fieldset>
            <div class="form-group">
               <label class="col-sm-2 control-label" title="App启动页面广告图设置">App广告位设置</label>
               <div class="col-sm-10">
                  <div class="row">
                     <div class="col-xs-7">
                         上传非建议尺寸图片，可能影响APP用户体验。<span style="color:#F05050;">建议尺寸：360px*165px</span>
                         <div class="table-responsive addCombo">
                            <table class="table" id="comboTable">
                                <thead>
                                    <tr>
                                        <th style="width:45%;">图片上传</th>
                                        <th style="width:15%;">跳转方式</th>
                                        <th style="width:40%;">跳转地址(非必填)</th>
                                    </tr>
                                </thead>                                        
                                <tbody>
                                    <tr class="packageRow bannerTr" ng-click="setImgUrl(0)">
                                        <td name="">
                                            <input filestyle="" type="file" data-button-text="图片" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="uploader" class="form-control" required=""/>
                                        </td>
                                        <td name="">
                                            <label class="radio-inline c-radio bannerRadio">
                                                <input name="bRadio1" title="{{}}" type="radio" ng-checked="true" ng-click="selectbRadio(2)">
                                                <span class="fa fa-circle"></span>
                                                课程
                                            </label>
                                            <label class="radio-inline c-radio bannerRadio">
                                                <input name="bRadio1" title="{{}}" type="radio" ng-click="selectbRadio(1)">
                                                <span class="fa fa-circle"></span>
                                                网页
                                            </label>
                                        </td>
                                        <td name="">
                                            <input name="url" required="" ng-model="bannerUrl1" ng-change="getJumpUrl(bannerUrl1)" placeholder="http://" class="form-control ng-pristine ng-valid-url ng-invalid ng-invalid-required ng-touched bannerTypeHide bannerTypeSetHide11" type="url">
                                            <select class="bg-select bannerTypeHide bannerTypeSetHide12" style="width:100%">
                                                <option ng-click="getCourseId('')">请选择需要跳转的课程</option>
                                                <option ng-repeat="c in course" ng-bind="c.course_name" ng-click="getCourseId(c.courseid)"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="packageRow bannerTr" ng-click="setImgUrl(1)">
                                        <td name="">
                                            <input filestyle="" type="file" data-button-text="图片" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="uploader" class="form-control" required=""/>
                                        </td>
                                        <td name="">
                                            <label class="radio-inline c-radio bannerRadio">
                                                <input name="bRadio2" title="{{}}" type="radio" ng-checked="true" ng-click="selectbRadio(2)">
                                                <span class="fa fa-circle"></span>
                                                课程
                                            </label>
                                            <label class="radio-inline c-radio bannerRadio">
                                                <input name="bRadio2" title="{{}}" type="radio" ng-click="selectbRadio(1)">
                                                <span class="fa fa-circle"></span>
                                                网页
                                            </label>
                                        </td>
                                        <td name="">
                                            <input name="url" required="" ng-model="bannerUrl2" ng-change="getJumpUrl(bannerUrl2)" placeholder="http://" class="form-control ng-pristine ng-valid-url ng-invalid ng-invalid-required ng-touched bannerTypeHide bannerTypeSetHide21" type="url">
                                            <select class="bg-select bannerTypeHide bannerTypeSetHide22" style="width:100%">
                                                <option ng-click="getCourseId('')">请选择需要跳转的课程</option>
                                                <option ng-repeat="c in course" ng-bind="c.course_name" ng-click="getCourseId(c.courseid)"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="packageRow bannerTr" ng-click="setImgUrl(2)">
                                        <td name="">
                                            <input filestyle="" type="file" data-button-text="图片" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="uploader" class="form-control" required=""/>
                                        </td>
                                        <td name="">
                                            <label class="radio-inline c-radio bannerRadio">
                                                <input name="bRadio3" title="{{}}" type="radio" ng-checked="true" ng-click="selectbRadio(2)">
                                                <span class="fa fa-circle"></span>
                                                课程
                                            </label>
                                            <label class="radio-inline c-radio bannerRadio">
                                                <input name="bRadio3" title="{{}}" type="radio" ng-click="selectbRadio(1)">
                                                <span class="fa fa-circle"></span>
                                                网页
                                            </label>
                                        </td>
                                        <td name="">
                                            <input name="url" required="" ng-model="bannerUrl3" ng-change="getJumpUrl(bannerUrl3)" placeholder="http://" class="form-control ng-pristine ng-valid-url ng-invalid ng-invalid-required ng-touched bannerTypeHide bannerTypeSetHide31" type="url">
                                            <select class="bg-select bannerTypeHide bannerTypeSetHide32" style="width:100%">
                                                <option ng-click="getCourseId('')">请选择需要跳转的课程</option>
                                                <option ng-repeat="c in course" ng-bind="c.course_name" ng-click="getCourseId(c.courseid)"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="packageRow bannerTr" ng-click="setImgUrl(3)">
                                        <td name="">
                                            <input filestyle="" type="file" data-button-text="图片" data-class-button="btn btn-default" data-classinput="form-control inline" nv-file-select="" uploader="uploader" class="form-control" required=""/>
                                        </td>
                                        <td name="">
                                            <label class="radio-inline c-radio bannerRadio">
                                                <input name="bRadio4" title="{{}}" type="radio" ng-checked="true" ng-click="selectbRadio(2)">
                                                <span class="fa fa-circle"></span>
                                                课程
                                            </label>
                                            <label class="radio-inline c-radio bannerRadio">
                                                <input name="bRadio4" title="{{}}" type="radio" ng-click="selectbRadio(1)">
                                                <span class="fa fa-circle"></span>
                                                网页
                                            </label>
                                        </td>
                                        <td name="">
                                            <input name="url" required="" ng-model="bannerUrl4" ng-change="getJumpUrl(bannerUrl4)" placeholder="http://" class="form-control ng-pristine ng-valid-url ng-invalid ng-invalid-required ng-touched bannerTypeHide bannerTypeSetHide41" type="url">
                                            <select class="bg-select bannerTypeHide bannerTypeSetHide42" style="width:100%">
                                                <option ng-click="getCourseId('')">请选择需要跳转的课程</option>
                                                <option ng-repeat="c in course" ng-bind="c.course_name" ng-click="getCourseId(c.courseid)"></option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                     </div>
                     <div class="col-xs-5">
                         <!--<ul class="list-unstyled carousel2 bannerCarousel bg-banner">
                            <li class="bgBanner bg-banner-li" ng-repeat="x in bannerArr">
                                <a href=""></a>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-warning" ng-click="createBanner()" style="margin-top: 20px;">生成预览</button>-->
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-xs-5">
                        
                     </div>
                     <div class="col-xs-7"></div>
                  </div>
                  <div class="row">
                     <div class="col-xs-12">
                         <button type="button" class="btn btn-primary" ng-click="saveBanner()" style="margin-top: 20px;">确定保存</button>
                     </div>
                  </div>
               </div>
            </div>
         </fieldset>
      </form>
   </div>
</div>
<!-- END panel-->
